<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebControl</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/toggle_input.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="functions.js"></script>
    <script src="socket.io/socket.io.js"></script>

</head>
<body>
    <div class="container-fluid">
        <!-- banner -->
        <div class="jumbotron jumbotron-fluid">
            <h1>WebControl</h1>
        </div>
        <!-- //banner -->
        <!-- Nhiet do - Do Am -->
        <div class="container">
            <div class="row">
                <div class="col-6" style="padding-left: 270px !important">
                    <img src="img/temp-onn.png">
                    <span id="temp"></span> 
                </div>
                <div class="col-6" style="padding-left: 100px !important">
                    <img src="img/humi.png">
                    <span id="humi"></span>
                </div>
            </div>
        </div>
        <!-- // Nhiet do - Do Am -->
        <!-- Device -->
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-7" style="border: 1px solid black;">
                        <h3>Light</h3>
                        <h5>Bed room's light</h5>
                    </div>
                    <div class="col-5" style="border: 1px solid black;">
                        <div class="toggle-wrapper">
                            <div class="toggle dog-rollover">
                                <input id="doggo" type="checkbox" class="inputCheckbox"/>
                                <label class="toggle-item" for="doggo">
                                    <div class="dog">
                                        <div class="ear"></div>
                                        <div class="ear right"></div>
                                        <div class="face">
                                            <div class="eyes"></div>
                                            <div class="mouth"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-7" style="border: 1px solid black;">
                        <h3>Fan</h3>
                        <h5>Bed room's fan</h5>
                    </div>
                    <div class="col-5" style="border: 1px solid black;">
                        <div class="toggle-wrapper1">
                            <div class="toggle1 dog-rollover1">
                                <input id="doggo1" type="checkbox" class="inputCheckbox"/>
                                <label class="toggle-item1" for="doggo1">
                                    <div class="dog1">
                                        <div class="ear1"></div>
                                        <div class="ear1 right1"></div>
                                        <div class="face1">
                                            <div class="eyes1"></div>
                                            <div class="mouth1"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-7" style="border: 1px solid black;">
                        <h3>Pump</h3>
                        <h5>Graden's pump</h5>
                    </div>
                    <div class="col-5" style="border: 1px solid black;">
                        <div class="toggle-wrapper2">
                            <div class="toggle2 dog-rollover2">
                                <input id="doggo2" type="checkbox" class="inputCheckbox"/>
                                <label class="toggle-item2" for="doggo2">
                                    <div class="dog2">
                                        <div class="ear2"></div>
                                        <div class="ear2 right2"></div>
                                        <div class="face2">
                                            <div class="eyes2"></div>
                                            <div class="mouth2"></div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Device -->
        <!-- Clock -->
        <div id="clock" class="time"></div>
        <!-- //Clock -->


        <div class="chatbox">
            <span>Chat cùng người lạ: </span>
            <input type="text" id="chatMsg" maxlength="16">
            <button type="button" class="btn-Submit" id="btn-SendMsg">Send</button>
        </div>
            
    </div>

    

    
</body>
</html>


